*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

/* Estilos menu */
#contenedorMenu #menu ul{
    display: flex;
    list-style: none;
    justify-content: space-evenly;
    font-size: 1.2rem;
    margin: 1rem;
}

#contenedorMenu #menu ul li{
    background-color: orange;
    text-decoration: none;
    border-radius: 1rem;
    padding: 0.5rem;

}
#contenedorMenu #menu ul li a{
    text-decoration: none;
}

#contenedorMenu h1{
    text-align: center;
}

/* Estilos productos */

#listaProductos{
    text-align: center;
}

#listaProductos ul{
    display: flex;
    justify-content: center;
    list-style: none;
    text-decoration: none;
    border: 1px solid orange;
    margin: 1rem;
}
#listaProductos ul li{
    padding: 0.5rem;
    margin: 1rem;
    border: 1px solid orange;
    background-color: rgb(230, 199, 143);
    border-radius: 1rem;
}
#listaProductos ul li a{
    text-decoration: none;
    color: black;
}

/* Estilos contenedor juegos */

main{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

main h2{
    text-align: center;
    font-size: 1.2rem;
}

main section .contenedorPrincipal{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

main section .contenedorPrincipal .titulo{
    text-align: center;
    font-size: 1.2rem;
}

main section .contenedorPrincipal .titulo h3{
    margin-bottom: 1rem;
}

main section .contenedorPrincipal #contenedorJuegos{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

main section .contenedorPrincipal #contenedorJuegos .card{
  width: 12rem;
  height: 20rem;
  background-color: orange;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0.5rem;
  margin: 1rem;
  border-radius: 1rem;
}

main section .contenedorPrincipal #contenedorJuegos .card img{
    margin-bottom: 0.5rem;
    width: 10rem;
    height: 16rem;
}

main section .contenedorPrincipal #contenedorJuegos .card .precio{
    display: flex;
    width: 80%;
    justify-content: center;
    font-size: 1.2rem;
    color: green;
}

/* Estilos contacto */
#contacto h1{
    text-align: center;
}

#contacto  {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#contacto div {
    border: 2px solid orange;
    margin: 1rem;
}

#contacto div form {
    display: flex;
    flex-direction: column;
    padding: 1rem;
}

#contacto div form label {
    padding: 0.5rem;
}
